<div class="sign-up">
  <div class="content">
    <div class="title">
      Join Chat
    </div>
    <form [formGroup]="chatEnterForm" (ngSubmit)="onSubmit($event)" class="form">
      <input formControlName="chatName" placeholder="Chat name" />
      <div class="error">{{getErrorByKey("chatName")}}</div>
      <input formControlName="friendEmail" placeholder="Friend's email"/>
      <div class="error">{{getErrorByKey("friendEmail")}}</div>
      <button type="submit">Join chat</button>
    </form>
  </div>
</div>
